ENVIRONMENT="development" # development | test | production

# Server settings:
SERVER_SCHEME="http"
SERVER_HOST="0.0.0.0"
SERVER_PORT=8080
SERVER_READ_TIMEOUT=60

# JWT settings:
JWT_SECRET_KEY="jwtsecret" # Ubah dengan key yang lebih aman
JWT_SECRET_KEY_EXPIRE_MINUTES_COUNT=15
JWT_REFRESH_KEY="jwtrefresh" # Ubah dengan key yang lebih aman
JWT_REFRESH_KEY_EXPIRE_HOURS_COUNT=720

# Database settings:
MONGO_URI="mongodb://<username>:<password>@127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+1.6.0"

# Redis settings:
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_USERNAME=""
REDIS_PASSWORD=""
REDIS_DB_NUMBER=0